{% extends "homepage/base.html" %}
{% block content %}
{% load static %}
{% load community_filters %}
<div class="container py-5">

    <!-- Hero -->
    <div class="jumbotron jumbotron-fluid bg-dark text-white text-center rounded">
        <div class="container">
            <h1 class="display-4">{{ community.name }}</h1>
            <p class="lead">{{ community.description }}</p>
        </div>
    </div>

    <!-- About -->
    <div class="py-5 text-center">
        <h2>About Us</h2>
        <p>{{ community.description }}</p>
    </div>

    <!-- Contact -->
    <div class="py-5 text-center">
        <h2>Our Links</h2>
            <div class="d-flex justify-content-center flex-wrap gap-3">
                {% for label, href in community.contactinfo.get_links.items %}
                <p><strong><a href={{ href }}>{{ label|capitalize }}</strong></p>
                {% empty %}
                <p><i>No Contact Info Provided</i></p>
                {% endfor %}
            </div>
    </div>

    <!-- Staff -->
    <div class="py-5">
        <h2 class="text-center mb-4">Staff</h2>
        <div class="d-flex justify-content-center flex-wrap gap-3">
            {% for staff_member in community.staff.all %}
            <div class="card shadow-sm d-flex flex-row align-items-center p-2 rounded" style="width: 250px; height: 70px;">
                <a href="{% url 'profiles:view' staff_member.user.username %}">
                    <img src="https://picsum.photos/60/60" class="rounded-circle me-2" alt="Team Member">
                </a>
                <div class="d-flex flex-column">
                    <h6 class="mb-0">
                        <a href="{% url 'profiles:view' staff_member.user.username %}" class="text-dark text-decoration-none">
                            {{ staff_member.user }}
                        </a>
                    </h6>
                    <small class="text-muted">{{ staff_member.pronouns }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Create Season Button -->
     {% if user.is_authenticated %}
        {% if user|is_staff:community %}
        <div class="text-center mb-5">
            <a href="{% url 'community:create_season' community.id %}" class="btn btn-success btn-lg">
                Create Season
            </a>
        </div>
        {% endif %}
     {% endif %}


    {% comment %} <!-- Past Seasons -->
    <div class="py-5">
        <h2 class="text-center mb-4">Past Seasons</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for season in community.season_set.all %}
            <div class="col d-flex justify-content-center">
                <a href="{% url "community:season_info" community.id season.id %}" class="btn btn-outline-primary btn-lg">{{ season }}</a>
            </div>
            {% endfor %}
        </div>
    </div> {% endcomment %}


</div>
{% endblock %}
