<div class="mt-2">
    <label for="wikiLink" class="form-label">Wikia link</label>
    <input type="url" name="wikiLink" id="wikiLink" class="form-control form-control-sm" placeholder="Wiki Link...">
</div>

<div class="mt-2">
    <label for="instaLink" class="form-label">Instagram link/handle</label>
    <input type="text" name="instaLink" id="instaLink" class="form-control form-control-sm" placeholder="Instagram link/handle...">
</div>

<div class="mt-2">
    <label for="fbLink" class="form-label">Facebook link</label>
    <input type="url" name="fbLink" id="fbLink" class="form-control form-control-sm" placeholder="FB Page...">
</div>

<div class="mt-2">
    <label for="ytLink" class="form-label">Youtube link</label>
    <input type="url" name="ytLink" id="ytLink" class="form-control form-control-sm" placeholder="Youtube Channel...">
</div>

<div class="mt-2">
    <label for="otherLink" class="form-label">Other link</label>
    <input type="text" name="otherLink" id="otherLink" class="form-control form-control-sm" placeholder="Any other link...">
</div>