<div class="mt-2">
    <label for="wikiLink" class="form-label">Wikia link</label>
    <input type="url" id="wikiLink" class="form-control form-control-sm" placeholder="Wiki Link...">
</div>

<div class="mt-2">
    <label for="instaLink" class="form-label">Instagram link</label>
    <input type="text" id="instaLink" class="form-control form-control-sm" placeholder="Instagram handle...">
</div>

<div class="mt-2">
    <label for="fbLink" class="form-label">Facebook link</label>
    <input type="url" id="fbLink" class="form-control form-control-sm" placeholder="FB Page...">
</div>

<div class="mt-2">
    <label for="blueskyLink" class="form-label">Bluesky link</label>
    <input type="text" id="blueskyLink" class="form-control form-control-sm" placeholder="Bluesky handle...">
</div>