{% extends "homepage/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Podcasts</h2>
    <p>Explore our collection of podcasts available on various platforms.</p>

    <div class="list-group">
        <a href="https://open.spotify.com/show/example" target="_blank" class="list-group-item list-group-item-action">
            Live Reality Games Podcast (Spotify)
        </a>
        <a href="https://www.audible.com/pd/example" target="_blank" class="list-group-item list-group-item-action">
            The Reality Show Chronicles (Audible)
        </a>
        <a href="https://podcasts.apple.com/us/podcast/example" target="_blank" class="list-group-item list-group-item-action">
            Survivor Deep Dive (Apple Podcasts)
        </a>
        <a href="https://www.youtube.com/c/example" target="_blank" class="list-group-item list-group-item-action">
            Reality Game Discussions (YouTube)
        </a>
    </div>
</div>
{% endblock %}

