{% extends "homepage/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Podcasts</h2>
    <p>Explore our collection of podcasts available on various platforms.</p>

    <div class="list-group">
        {% for podcast in podcasts  %}
        <a href="{{ podcast.embed }}" target="_blank" class="list-group-item list-group-item-action">
            <strong>{{podcast.title}}</strong> <i>({{ podcast.source }})</i>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

